<!-- 以下為 template driven form -->
<!-- <form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div ngModelGroup="step1" #step1="ngModelGroup">
    <label for="name">name: </label><input type="text" name="name" [(ngModel)]="data.name" required /><br />
    <label for="phone">phone: </label><input type="tel" name="phone" [(ngModel)]="data.phone" required
      minlength="7" /><br />
  </div>
  <div ngModelGroup="step2" #step2="ngModelGroup" [hidden]="step1.invalid">
    <label for="recommandation-number">recommandation number: </label>
    <input type="text" name="recommandation-number" [(ngModel)]="data.recommandationNumber"
      #recommandationNumber="ngModel" required /><br />
    <label for="recommandation">recommandation: </label>
    <input type="text" name="recommandation" [(ngModel)]="data.recommandation" disabled required/><br />
  </div>
  <button type="submit" [disabled]="form.invalid">submit</button>
</form> -->
